
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
    line-height: 1.6;
}


nav {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

nav h2 {
    color: #00eaff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00eaff;
}


.home-section {
    text-align: center;
    padding: 80px;
}


.about-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.about-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.skills-container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 25px;
    padding: 40px;
    justify-content: center;
}

.skill-card {
    width: 30%;
    padding: 20px;
    border: 2px solid #0096c7;
    background: #caf0f8;
    border-radius: 10px;
    text-align: center;
}


form {
    width: 50%;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #0096c7;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    width: 100%;
    padding: 12px;
    background: #0096c7;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background: #0077a8;
}
